<!DOCTYPE html>
<html>
  <head>
    <title><%= $judul %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="wrapper">
        <header>
         <div id="logo"><%= $judul %></div>
         <nav>
             <ul>
                  <li><a href="<%= $url %>">Home</a></li>
                 <li><a href="#">Blog</a></li>
                  <li><a href="#">Kontak</a></li>
                <li><a href="<%= $url %>/new">Tambah Artikel</a></li>
             </ul>
        </nav>
        </header>
        <article>
          <%= yield %>
        </article>

        <footer>
            <div class="copy">Copyright &copy 2017 By Rifqi Khoeruman Azam</div>
            <div class="page"><a href="#">Home</a> <a href="#">Blog</a> <a href="#">Kontak</a> <a href="#">Tambah Artikel</a></div>
        </footer>
    </div>
  </body>
</html>
